.hidden {
  display: none;
}

.card {
  width: 200px;
  height: 200px;
}

#game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  background-image: url("background-image-bazinga.jpg");
}

h1 {
  font-family: Arial;
  color: yellow;
}

h2 {
  font-family: Arial;
  color: yellow;
}

.humanChoice {
  display: flex;
}

.selected {
  border: 5px solid whitesmoke;
}
